<!--
<mat-toolbar class="mat-elevation-z8">
  <span><mat-icon>eco</mat-icon></span>

  <div  class="spacer"></div>
  <a mat-button class="">Home</a>
  <a mat-button class="">Projet</a>
  <a mat-button class="">service</a>
  <a mat-button class="">A propos de nous</a>
  <a mat-button >connexion</a>
</mat-toolbar>


-->

<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <div class="logo">
    <p>navbar</p>
  </div>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Gome</a></li>
    <li><a href="#">Gome</a></li>
    <li><a href="#">Gome</a></li>
    <li><a href="#">Gome</a></li>
  </ul>
</nav>

