.table-user ul li input{
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
}
.table-user ul li a{
  font-size: 18px;
  margin-top: 9.5px;
  margin-left: 3px;
  padding: 3.5px;
  background-color: blue;
  color: #ffffff;
  border-radius: 3px;

}
.table-user ul li a:hover{
  background-color: #ffffff;
  color: blue;
}

.table-user ul{
  margin-bottom: 20px;
}

table {
  display: block;
  height: 420px;
  overflow-y: auto;
}

.table-user{
  padding: 0rem 3.5rem;
  border: none;
}

.border-ligne-top{
  border-top: #1D2231 2px solid;
}
.border-ligne-buttom{
  border-bottom: #1D2231 2px solid;
}


.inactive{
  background-color: red;
}

.active{
  background-color: green;
}

.state{
  border-radius: 4px;
  padding: 2px;
  color: #ffffff;
  text-align: center;
}
/*test scrolle*/

table {
  display: block;
  height: 375px;
  overflow-y: auto;
}
table tr th,table tr td{
  text-align: center;
}

/*test scrolle*/
.profil{
  font-size: 30px;
}
.edit a i{
  font-size: 30px;
}
.edit{
  font-size: 0px;
}
.infos a i{
  font-size: 30px;
}
.infos{
  font-size: 0px;
  margin: 2px;
}
.edit a{
  background-color: #00c5f7;
  color: blue;

  border: 1px solid #777777;
  border-radius: 5px;
}

.edit :hover{
  background-color: blue;
  color: red;
}
.infos a{
  background-color: blueviolet;
  color: black;

  border: 1px solid #777777;
  border-radius: 5px;
}

.infos :hover{
  background-color: black;
  color: #ffffff;
}

.card{
  border: none;
}

