section{
  width: 100%;
}
form a{
  position: absolute;
  cursor: pointer;
  text-decoration: none;
}

.users{
  left: 5%;
  top: 0px;
}

.user{
  right: 5%;
  top: 0px;
}

.image-profile img{
  cursor: pointer;
  width: 160px;
  height: 200px;
}
.edit-me{
   border-radius: 5px ;
 }
.edit-me i{
  background-color: #00c5f7;
  color: #ffffff;
  padding: 4px;
  cursor: pointer;
  padding: 5px;
  border-right: 2px;
}

.info-image{
  margin-top: 40px;
  width: 100%;
}
/*
nav{
  border: none;
  background-color: #f1f5f9;
  margin:-10px -10px -10px 30px;
}

.user {
  color: black;
}
.menu-user{
  margin-left: 80px;
}

.menu-users{
  margin-right: 60px;
}
.input-search{
  margin: 0px 30px;
}
.input-search input{
  border: none;
  background-color: #f1f5f9;
  border-radius: 3px;
}
.user {
  color: black;
}
.user :hover{
  cursor: pointer;
  color: blue;
}

.body-content{
  margin-top:40px;
}
.edit{
  text-align: center;
}
.edit-btn{
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  border: none;
}
.edit-btn :hover{
  cursor: pointer;
  font-size: 17px;
  margin: 20px;
  padding: 20px;
}
*/
