<section>
  <nav class="users-user navbar">
    <form class="">
      <a class="users" routerLink="" routerLinkActive="active">
        <i   class="fas fa-users"></i>
        Users
      </a>
      <a class="user" routerLink="" routerLinkActive="active">
        Welcome {{this.user.lastname}}
        <i class="fas fa-user"></i>
      </a>
    </form>
  </nav>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="image-profile col-md-3">
        <img src="../../../assets/image/fa-user.png" alt="">
      </div>
      <div class="info-image col-md-9">
        <h1>{{user.lastname}} {{user.firstname}}</h1>
        <h3>{{user.lastname}}</h3>
        <a class="edit-me">
          <i class=" fas fa-camera"> change profile</i>
        </a>
      </div>
    </div>
  <div class="row">
      <div class="col-md-3">
        <label>user-name</label>
      </div>
      <div class="col-md-9">
        <input type="text">
      </div>
    </div>
  </div>
</div>
</section>



<!--
<nav class="navbar menu navbar-inverse col-sm col-md col-lg col-xl col-" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="menu-users nav navbar-nav navbar-right">
      <li class="user">
        <a routerLink="" routerLinkActive="active">
          <i class="fas fa-users"></i>
          Users
        </a>
      </li>
    </ul>
    <ul class="menu-users nav navbar-nav navbar-right">
      <li class="input-search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="search a user...">
      </li>
    </ul>
    <ul class="menu-user nav navbar-nav navbar-right">
      <li class="user">
        <a routerLink="" routerLinkActive="active">
          <i class="fas fa-user"></i>
          Welcome :&lt;!&ndash;{{this.user.firstName}} {{this.user.lastName}}&ndash;&gt;
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="row body-content">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3">
        <label>Email:</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.email}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Last Name :</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.firstname}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Last Name :</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.lastname}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Phone:</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.phone}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>City:</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.ville}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Pays:</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.ct_id.reference}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>User name:</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.username}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>State:</label>
      </div>
      <div class="col-md-7">
        <div>
          <div>{{this.user.state}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 edit">
        <button class="btn edit-btn btn-outline-primary">Edit</button>
      </div>
    </div>
  </div>
</div>


-->
