<section>
  <div class="row">
    <div class="col-sm">col 1</div>
    <div class="col-sm">col 1</div>
    <div class="col-sm">col 1</div>
    <div class="col-sm">col 1</div>
  </div>
</section>



<!--
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">activite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">a verifie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">a faire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deconnecter</a>
  </li>
</ul>-->
