<section>
  <div class="row">
    <div class="col-sm">
      <a href="/menu/users/users-list"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fas fa-user-plus"></i></span>
        <br>Add un Utilissateur
      </a>
    </div>
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fas fa-inbox"></i></span>
        <br>Ajouter des emails
      </a>
    </div>
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fas fa-check-double"></i></span>
        <br>Checked les mails
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Ajouter des emails
      </a>
    </div>
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="far fa-flag"></i></span>
        <br>Ajouter une country
      </a>
    </div>
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fal fa-flag"></i></span>
        <br>Ajouter des categories
      </a>
    </div>
  </div>
</section>



<!--
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">activite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">a verifie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">a faire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deconnecter</a>
  </li>
</ul>-->
