<!--
  <nav class="first-title">

    <div class="navbar-header accueil">
      <div class="line"><span class="ti-unlink"></span></div>
      <label>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </label>
    </div>
    <h1 class="ifrozet">IFROZET SARL ADAROUCHE</h1>
  </nav>
  <input type="checkbox" id="sidebar-toggle" xmlns="http://www.w3.org/1999/html">
  <nav class="seconde-title card navbar navbar-expand-md navbar-inverse color col-sm col-md col-lg col-xl col-"  style="border-radius: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3 class="contacts" routerLink="/home" routerLinkActive="active">ACCUEIL</h3>
      </div>
      <div class="navbar-header">
        <h3 class="contacts" routerLink="/home" routerLinkActive="active">A PROPOS DE NOUS</h3>
      </div>
      <div class="navbar-header">
        <h3 class="contacts" routerLink="/home" routerLinkActive="active">CONTACT</h3>
      </div>
      <div class="navbar-header">
        <h3 class="contacts" (click)="goToLogin()">
          <span class=" glyphicon glyphicon-log-in"></span>
          CONNEXION
        </h3>
      </div>
    </div>
  </nav>-->

    <div *ngIf="!isLogged" class="navbar ifrozet">
      <h1 class="">IFROZET SARL</h1>
    </div>


    <nav *ngIf="!isLogged" class="">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <div class="logo">
         <h1 class="">IFROZET SARL</h1>
      </div>
      <ul class="">
        <li><a class="" routerLink="/home" routerLinkActive="active">ACCUEIL</a></li>
        <li><a class="" routerLink="/apropos" routerLinkActive="active">A PROPOS DE NOUS</a></li>
        <li><a class="" routerLink="/home" routerLinkActive="active">CONTACT</a></li>
        <li><a class="" routerLink="/login" routerLinkActive="active">CONNEXION</a></li>
        <li><a class="" routerLink="/register" routerLinkActive="active" >INSCRIPTION</a></li>
      </ul>

    </nav>



<main class="app-main">
  <router-outlet></router-outlet>
</main>


<!--<app-user-list></app-user-list>-->









