<section *ngIf="!isLogged" class="app-home">
  <!--<nav class="first-title card navbar navbar-inverse color col-sm col-md col-lg col-xl col-"  style="border-radius: 0px;">
    <div class="container-fluid">
      <div class="navbar-header ">
        <h1 class="ifrozet">IFROZET SARL ADAROUCHE</h1>
      </div>
    </div>
  </nav>-->
  <nav class="first-title">

    <div class="navbar-header accueil">
      <dev class="line"><span class="ti-unlink"></span></dev>
      <label for="sidebar-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </label>
    </div>
    <h1 class="ifrozet">IFROZET SARL ADAROUCHE</h1>
  </nav>

<!--  <hr *ngIf="!isLogged" class="hr-1" >  -->
  <input type="checkbox" id="sidebar-toggle" xmlns="http://www.w3.org/1999/html">
  <nav class="seconde-title card navbar navbar-expand-md navbar-inverse color col-sm col-md col-lg col-xl col-"  style="border-radius: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3 class="contacts" routerLink="/home" routerLinkActive="active">ACCUEIL</h3>
      </div>
      <div class="navbar-header">
        <h3 class="contacts" routerLink="/home" routerLinkActive="active">A PROPOS DE NOUS</h3>
      </div>
      <div class="navbar-header">
        <h3 class="contacts" routerLink="/home" routerLinkActive="active">CONTACT</h3>
      </div>
      <div class="navbar-header">
        <h3 class="contacts" (click)="goToLogin()">
          <span class=" glyphicon glyphicon-log-in"></span>
          CONNEXION
        </h3>
      </div>
    </div>
  </nav>

<!--  <hr *ngIf="!isLogged" class="hr-2" >-->
  <!--<ng-template #loggedOut>
  </ng-template>-->

</section>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
