/*


.color{
  background-color: #ffffff;
  border: none;
}



hr{
  background-color: #00c5f7;
  margin: -20px 80px 0px 80px;
  font-size: 15px;
  size: 2px;
}
.ifrozet{
  font-size: 40px;
  color: #00c5f7;
  padding-top: 15px ;
  padding-bottom: 15px ;
  position: center;
  font-weight: 900;
}
.Sarl {
  font-size: 40px;
  color: green;
}

.login {
  font-size: 30px;
}

.contacts {
  color: black;
  margin-top: 8px;
}

.contacts:hover {
  color:  #00c5f7;
  cursor: pointer;
  text-decoration: none;
}

.login a:hover {
  color: #00c5f7;
  cursor: pointer;
  text-decoration: none;
}
!*

.app-home{
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  margin: -10px;
  z-index: 2;
}

.seconde-title{
  margin-top: -10px;
}
.first-title, .seconde-title{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: inline-block;
  margin-bottom: 0px;
  border-bottom: 2px #00c5f7 solid;
}
.seconde-title{
 position: page;
}


.app-main{
  margin-top: 160px;
  position: absolute;
  width: 100%;
}
*!
.first-title{
  border-bottom: 2px solid #00c5f7;
  background-color: #ffffff;
  position: fixed;
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  z-index: 2;
}
.first-title h1{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.seconde-title{
  margin-top: 64px;
  display: inline-block;
  border-bottom: 2px solid #00c5f7;
  width: 80%;
  margin-left: 10%;
}
#sidebar-toggle {
  display: none;
}

label svg{
  display: none;
}

@media only screen and (max-width: 791px) {
  .contacts{
    display: none;
  }

  .first-title, .seconde-title{
    width: 100%;
    margin: 0px;
  }
  .seconde-title{
    margin-top: 10px;
  }
  .ifrozet{
    font-size: 20px;
    font-weight: 900;
    width: 85%;
    position: absolute;
    margin-top: -50px;
    margin-left: 10%;
    margin-right: 5%;
  }
  .accueil{
    margin-top: 0px;
    padding-right: 0px;
    width: 10%;
    display: inline-block;
  }
  label svg{
    display: block;
    margin-top: 20px;
    margin-left: 10px;
  }
  .accueil-home{
  }
}

.accueil svg:active{

}


@media only screen and (max-width: 349px) {
  .first-title{
    padding-bottom: 25px;
  }
  .app-main{
    border-top: 2px red solid;
    padding-top: 30px;
  }
}

.navbarapp *{
  z-index: 2;
}
*/


/*
.mynavbar{
  height:60px;
  width: 100%;
}
.mynavbar a{
  margin: 10px 30px;
}
.spacer{
  flex: 1 1 auto;
}
*/
*{
  margin: 0px;
  padding: 0px;
}

nav{
  width: 100%;
  top: 0px;
  margin-top: 60px;
  border-bottom: 2px #00c5f7 solid;
  height: 75px;
  background-color: rgba(247, 247, 247);
  line-height: 75px;
  color: #00c5f7;
  padding: 0px 80px;
  position: fixed;
  z-index: 2;
}
nav *{
  position: relative;
}

nav .logo{
  float: left;
  display: none;
}
nav .logo p{
  /*font-size: 34px;
  font-weight: 1.5 px;
  color: #00c5f7;*/
  text-transform: uppercase;
}
.logo img{
  width: 75px;
  height: 74px;
  margin-top: -2px;
}
nav ul {
  float: right;
  right: 15%;
}

nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: #00c5f7;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 20px;

}
nav ul li a:hover{
  color: #000000;
}

nav ul .active{
  color: #000000;
}
.checkbtn{
  color: #00c5f7;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
}
#check{
  display: none;
}
.ifrozet{
  border-bottom: 2px #00c5f7 solid;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: rgba(247, 247, 247);
  position: fixed;
  top: 0px;
  z-index: 2;
}
.ifrozet h1{
  position: relative;
  font-size: 35px;
  font-weight: 1200;
  color: green;
}

@media screen and (max-width: 460px){
  .ifrozet h1{
    font-size: 20px;
  }
}

section{
  z-index: 2;
}
@media screen and (max-width: 940px){
  nav{
    padding: 0px 50px;

  }
  .checkbtn{
    display: block;
  }
  nav .logo p{
    font-size: 30px;
  }
  nav ul{
    width: 100%;
    height: 100vh;
    background-color: #777777;
    position: fixed;
    top: 135px;
    left: -100%;
    text-align: center;
    transition: 0.4s ease;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 60px 0px;
    line-height: 20px;
  }
  #check:checked ~ ul{
    left: 0px;
  }
}

.app-main{
}








