<div class="container bootstrap snippets bootdey">
  <a class="panel-close close" data-dismiss="alert"(click)="closeDialog()">×</a>
  <hr>
  <div class="alert alert-info alert-dismissable">
    <i class="fa fa-coffee"></i>
    <small>Cette email a bien ête enregistré avec succès {{responses}}</small>
  </div>
  <hr>
</div>
<hr>
<div class="form-group">
  <div class="text-center align-content-lg-between">
    <button type="button" class="btnmarg btn btn-secondary btn-lg align-content-lg-between" (click)="closeDialog()">Close</button>
  </div>
</div>
