

<div class="table-email container">

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <input [(ngModel)]="searsh" class="form-control mr-sm-2" type="search" placeholder="recherche email.." aria-label="Search">
    </li>
    <li class="nav-item">
      <a (click)="searshEmail()">
        <svg aria-hidden="true" width="30" height="30" focusable="false" data-prefix="fas" data-icon="sync" class="svg-inline&#45;&#45;fa fa-sync fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z">
        </path></svg>
      </a>
    </li>
  </ul>

  <div class="table-responsive">
    <table class="table border-ligne-buttom">
      <thead class="thead">
      <tr class="border-ligne-buttom">
        <th class="centry">email_id</th>
        <th class="centry">E-mail</th>
        <th class="centry">cat</th>
        <th class="centry">country</th>
        <th class="centry">state</th>
        <th class="centry">user</th>
        <th class="centry">city</th>
        <th class="centry">post code</th>
        <th class="centry">Phone</th>
      </tr>
      </thead>
      <tbody class="tbody">
      <tr  class="border-ligne-top" *ngFor="let e of emailDatas | slice: (page-1) * pageSize : page * pageSize">
        <td>{{e.email_id}}</td>
        <td class="">{{e.email}}</td>
        <td>{{e.cat_id.name}}</td>
        <td class=""><div class="state {{e.ct_id.reference}}">{{e.ct_id.reference}}</div></td>
        <td class=""><div class="state {{e.state_id.name}}">{{e.state_id.name}}</div> </td>
        <td>{{e.user_id.firstname}}</td>
        <td>{{e.city}}</td>
        <td>{{e.codePost}}</td>
        <td>{{e.phone}}</td>
      </tr>
      </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="emailDatas.length">
    </ngb-pagination>
  </div>
</div>





